apiVersion: v1
kind: Namespace
metadata:
  name: database
---
apiVersion: database.fits.cloud/v1
kind: Postgres
metadata:
  namespace: database
  name: sample-name
spec:
  numberOfInstances: 2
  partitionID: sample-partition
  size:
    storageSize: 1Gi
  tenant: sample-tenant
  version: "12"
