apiVersion: v1
kind: Namespace
metadata:
  name: pgaas-test
---
apiVersion: database.fits.cloud/v1
kind: Postgres
metadata:
  namespace: pgaas-test
  name: sample-name-a
spec:
  backup:
    s3BucketURL: ""
  numberOfInstances: 2
  maintenance:
    - "Sun:22:00-23:00"
  partitionID: sample-partition
  projectID: projectid-a
  size:
    storageSize: 1Gi
  tenant: sample-tenant
  version: "12"
# ---
# apiVersion: database.fits.cloud/v1
# kind: Postgres
# metadata:
#   namespace: pgaas-test
#   name: sample-name-b
# spec:
#   accessList:
#     sourceRanges:
#     - 1.2.3.4/24
#   backup:
#     s3BucketURL: ""
#   numberOfInstances: 2
#   partitionID: sample-partition
#   projectID: projectid-b
#   size:
#     storageSize: 1Gi
#   tenant: sample-tenant
#   version: "12"
