apiVersion: v1
data:
  ENABLE_LEADER_ELECTION: {{ .Values.postgreslet.enableLeaderElection | quote }}
  METRICS_ADDR_CTRL_MGR: "0"
  METRICS_ADDR_SVC_MGR: {{ .Values.postgreslet.metricsAddr | quote }}
  PARTITION_ID: {{ .Values.postgreslet.partitionId | quote }}
  TENANT: {{ .Values.postgreslet.tenant | quote }}
  CUSTOM_PSP_NAME: {{ include "postgreslet.pspName" . | quote  }}
kind: ConfigMap
metadata:
  name: {{ include "postgreslet.fullname" . }}
{{- with .Values.podAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
  labels:
    {{- include "postgreslet.labels" . | nindent 4 }}
