apiVersion: v1
data:
  postgres-exporter-image: {{ .Values.sidecars.exporter.image | quote }}
  postgres-exporter-container-port: {{ .Values.sidecars.exporter.containerPort | quote }}
  postgres-exporter-requests-cpu: {{ .Values.sidecars.exporter.resources.requests.cpu | quote }}
  postgres-exporter-requests-memory: {{ .Values.sidecars.exporter.resources.requests.memory | quote }}
  postgres-exporter-limits-cpu: {{ .Values.sidecars.exporter.resources.limits.cpu | quote }}
  postgres-exporter-limits-memory: {{ .Values.sidecars.exporter.resources.limits.memory | quote }}
  postgres-fluentbit-image: {{ .Values.sidecars.fluentbit.image | quote }}
  postgres-fluentbit-requests-cpu: {{ .Values.sidecars.fluentbit.resources.requests.cpu | quote }}
  postgres-fluentbit-requests-memory: {{ .Values.sidecars.fluentbit.resources.requests.memory | quote }}
  postgres-fluentbit-limits-cpu: {{ .Values.sidecars.fluentbit.resources.limits.cpu | quote }}
  postgres-fluentbit-limits-memory: {{ .Values.sidecars.fluentbit.resources.limits.memory | quote }}
  queries.yaml: {{ b64enc .Values.sidecars.exporter.queries }}
  fluent-bit.conf: {{ b64enc .Values.sidecars.fluentbit.conf }}
  experimental-postgres-exporter: |
    name: postgres-exporter
    image: prometheuscommunity/postgres-exporter:v0.9.0
    ports:
      - name: exporter
        containerPort: 9187
        protocol: TCP
    resources:
      requests:
        cpu: 100m
        memory: 200M
      limits:
        cpu: 500m
        memory: 256M
    env:
      - name: DATA_SOURCE_URI
        value: 127.0.0.1:5432/postgres?sslmode=disable
      - name: DATA_SOURCE_USER
        Value: postgres
      - Name: PG_EXPORTER_EXTEND_QUERY_PATH
        Value: /metrics/queries.yaml
  experimental-postgres-fluentbit: |
    name: postgres-fluentbit
    image: fluent/fluent-bit:1.7.2
    ports:
      - name: exporter
        containerPort: 9187
    resources:
      requests:
        cpu: 100m
        memory: 200M
      limits:
        cpu: 500m
        memory: 256M
  experimental-additional-volumes: |
    - name: empty
      mountPath: /opt/empty
      targetContainers:
        - all
      VolumeSource:
        emptyDir: {}
    - name: postgres-exporter-configmap
      mountPath: /metrics
      targetContainers:
        - postgres-exporter
      VolumeSource:
        ConfigMap:
          name: postgres-sidecars-configmap
          items:
            - key: queries.yaml
              path: queries.yaml
    - name: postgres-fluentbit-configmap
      mountPath: /fluent-bit/etc
      targetContainers:
        - postgres-fluentbit
      VolumeSource:
        ConfigMap:
          name: postgres-sidecars-configmap
          items:
            - key: fluent-bit.conf
              path: fluent-bit.conf
kind: ConfigMap
metadata:
  name: {{ include "postgreslet.fullname" . }}-postgres-sidecars
{{- with .Values.podAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
  labels:
    {{- include "postgreslet.labels" . | nindent 4 }}
