
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: postgres.database.fits.cloud
spec:
  group: database.fits.cloud
  names:
    kind: Postgres
    listKind: PostgresList
    plural: postgres
    singular: postgres
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.tenant
      name: Tenant
      type: string
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .spec.numberOfInstances
      name: Replicas
      type: string
    - jsonPath: .status.socket.ip
      name: IP
      type: string
    - jsonPath: .status.socket.port
      name: Port
      type: integer
    - jsonPath: .status.description
      name: Status
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Postgres is the Schema for the postgres API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PostgresSpec defines the desired state of Postgres
            properties:
              accessList:
                description: AccessList defines access restrictions
                properties:
                  sourceRanges:
                    description: SourceRanges defines a list of prefixes in CIDR Notation
                      e.g. 1.2.3.0/24 or fdaa::/104
                    items:
                      type: string
                    type: array
                type: object
              backupSecretRef:
                description: BackupSecretRef reference to the secret where the backup
                  credentials are stored
                type: string
              connectionInfo:
                description: PostgresConnectionInfo Connection info of a streaming
                  host, independant of the current role (leader or standby)
                properties:
                  connectedPostgresID:
                    type: string
                  ip:
                    type: string
                  method:
                    type: string
                  port:
                    format: int32
                    type: integer
                  secretName:
                    type: string
                type: object
              description:
                description: Description
                type: string
              isReplicationPrimary:
                description: IsPostgresReplicationPrimary determines if this is the
                  leader or the standby side
                type: boolean
              maintenance:
                description: 'todo: add default Maintenance defines automatic maintenance
                  of the database'
                items:
                  type: string
                type: array
              numberOfInstances:
                default: 1
                description: NumberOfInstances number of replicas
                format: int32
                minimum: 1
                type: integer
              partitionID:
                description: PartitionID the partition where the database is created
                type: string
              projectID:
                description: ProjectID metal project ID
                type: string
              size:
                description: Size of the database
                properties:
                  cpu:
                    description: CPU is in the format as pod.spec.resource.request.cpu
                    type: string
                  memory:
                    description: Memory is in the format as pod.spec.resource.request.memory
                    type: string
                  sharedBuffer:
                    description: SharedBuffer of the database
                    type: string
                  storageSize:
                    default: 1Gi
                    description: StorageSize the amount of Storage this database will
                      get
                    pattern: ^[1-9][0-9]*Gi
                    type: string
                type: object
              tenant:
                description: Tenant metal tenant
                type: string
              version:
                description: Version is the version of Postgre-as-a-Service
                type: string
            type: object
          status:
            description: PostgresStatus defines the observed state of Postgres
            properties:
              childName:
                type: string
              description:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                type: string
              socket:
                description: Socket represents load-balancer socket of Postgres
                properties:
                  ip:
                    type: string
                  port:
                    format: int32
                    type: integer
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
