
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: zalandopostgres.database.fits.cloud
spec:
  group: database.fits.cloud
  names:
    kind: ZalandoPostgres
    listKind: ZalandoPostgresList
    plural: zalandopostgres
    singular: zalandopostgres
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              maintenanceWindows:
                items:
                  type: string
                type: array
              numberOfInstances:
                format: int32
                type: integer
              postgresql:
                properties:
                  version:
                    type: string
                required:
                - version
                type: object
              resources:
                properties:
                  limits:
                    properties:
                      cpu:
                        type: string
                      memory:
                        type: string
                    type: object
                  requests:
                    properties:
                      cpu:
                        type: string
                      memory:
                        type: string
                    type: object
                type: object
              teamId:
                type: string
              volume:
                properties:
                  size:
                    type: string
                required:
                - size
                type: object
            required:
            - numberOfInstances
            - postgresql
            - teamId
            - volume
            type: object
          status:
            properties:
              PostgresClusterStatus:
                description: Following zalando postgresql, `P`ostgresClusterStatus
                  in JSON.
                type: string
            required:
            - PostgresClusterStatus
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
